<head>
  <title>Lendr - Users</title>
</head>

<h1>All Users:</h1>


<div class="ui link cards">
  <% @users.each do |user| %>
      <div class="card">
        <div class="image">
          <%= image_tag(user.image_url.to_s) %>
        </div>
        <div class="content">
          <div class="header">User Name: <%= link_to(user.username, user_path(user.id)) %></div>
        </div>
      </div>
  <% end %>
</div>
