<head>
  <title>Lendr</title>
</head>
<body>

  <h1 class="ui huge header">Lendr</h1>
  <%= image_tag("lendr", class: "logo", size: "200") %>

   <div class="main ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="ui big submit button">
            <%= link_to("Log In", login_path, method: :get) %>
          </div>
        </div>
      </div>
      <div class="middle aligned column">
        <div class="ui big button">
          <i class="signup icon"></i>
          <%= link_to("Sign Up", signup_path, method: :get) %>
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>
</body>
