<head>
  <title>Lendr - Categories</title>
</head>

<h1 class = 'category_index' id = "category">All Categories:</h1>

<br>


  <% @categories.each do |category| %>
  <h3 class = 'category_index' id = "lists_one"><% if category.name == 'Vetinary Bills' %>
    <i class="paw icon"></i>
    <% elsif category.name == 'Medical Bills' %>
    <i class="ambulance icon"></i>
    <% elsif category.name == 'Accidents' %>
    <i class="car icon"></i>
    <% elsif category.name == 'Student Loans' %>
    <i class="university icon"></i>
    <% elsif category.name == 'Personal Debts' %>
    <i class="dollar icon"></i>
    <% elsif category.name == 'Mortgages' %>
    <i class="home icon"></i>
    <% end %>
    <%= link_to category.name, category_path(category) %></h3>
    <% end %>
